<!-- navbar begin-->
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"><a ui-sref="home.default"><img src="assets/images/logo.png"></a></div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="search-box visible-md visible-lg">
                    <div class="input-group md-input-container">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="form-control" type="text" placeholder="search for members,tournaments,teams,etc">
                        <span class="input-bar"></span>
                    </div>
                </li>
                <li class="placeholder"></li>
                <li><a ui-sref="home.discovery">Tournaments</a></li>
                <li><a ui-sref="home.clubList">Clubs</a></li>
                <li><a href="">News</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="user">
                <li class="nav-divider"></li>
                <li><a class="icon-menu" href=""><i class="fa fa-comments-o"></i></a></li>
                <li><a class="icon-menu" href=""><i class="fa fa-bell-o"></i></a></li>
                <li class="user-avatar"><img src="assets/images/imgs/user6.jpg"></li>
                <li class="dropdown user-menu">
                    <a href="" role="button" class="login-top" data-toggle="dropdown">
                        poppub&nbsp;<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a ui-sref="home.detail.general"><i class="fa fa-gamepad"></i>&nbsp;My Tournaments</a></li>
                        <li><a ui-sref="home.user.profile"><i class="fa fa-user"></i>&nbsp;My Profile</a></li>
                        <li><a ui-sref="user.setting" href="/user/setting"><i class="fa fa-cog"></i>&nbsp;Settings</a></li>
                        <li><a ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;Log out</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="!user">
                <li class="nav-divider"></li>
                <li><a ng-click="login()"><i class="fa fa-sign-in"></i>&nbsp;Login</a></li>
                <li><a href=""><i class="fa fa-user"></i>&nbsp;Signup</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /navbar end-->
<!-- main content -->
<div ui-view class="sub-view"></div>
<!-- /main content -->
<div class="footer">
    <img src="">
    <a href="">About</a>
    <a href="">Blog</a>
    <a href="">Partnership</a>
    <a href="">Advertisement</a>
    <a href="">Help</a>
    <a href="">Policy</a>
    <span class="copyright">© 2016 Gamrule, Inc. All Rights Reserved</span>
</div>